@font-face {
  font-family: "Homer_Simpson_Revised";
  src: local("Homer_Simpson_Revised"),
    url("./fonts/Homer/Homer_Simpson_Revised.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Homer_Simpson_Revised";
}

.app_container {
  display: flex;
  flex-direction: column;
}
